h1{
  color: red;
}
img:hover{
  background-color: silver;
}

.bacon{
  background-color: green;
  height: 200px;
  width: 200px;
}
.brocoli{
  background-color: red;
  height: 200px;
  width: 200px;

}
